/*
Name: Deepak Kumar Mandal
Email: dkm.iit.g@gmail.com

1. Create the ordered list of items using A, b, IV, iv.
*/
/* 
    Created on : 28-Oct-2021, 6:59:21 am
    Author     : dkmii
*/

body{
    margin: 0px 10px 0px 10px;
    padding: 5px;
    
}

