*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    
}

/*for all four section*/
section{
    border:black soild 1px;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    color:black;
    
}

/*for hero container which includes the navbar + first-main view*/
.hero-container{

    display:flex;
    flex-direction: column;
    padding-bottom: 70px;
}
.nav {
    display:flex;
    font-size: 25px;
    margin:60px;
    font-weight: bold;
    height: 50px;
    width: 100%;
    position: relative;
  }
  .logo{
    width:100px;
    height:100px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
 
  .nav > .nav-btn {
    display: none;
  }

  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 25px;
  }
   
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #FF9933;
  }

  .nav > .nav-links > a:hover {
    background-color:#FFFFFF;
    color:#138808;
    border:#138808 solid 1px;
    border-radius: 10px;
  }
  
  .nav > #nav-check {
    display: none;
  }

  @media (max-width:768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
             
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #FF9933;
    color:#138808;
    border:#138808 solid 1px;
    }

    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #138808;
      

    }
            
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #138808;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }

    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
       
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
      
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(50vh - 50px);
      overflow-y: auto;
    }
      
  }

nav{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin:60px;
    color:#FF9933;
    font-weight:bold;
}

ul{
    list-style-type: none;
}

nav>ul>li{
    display:inline;
    margin:30px;
    padding: 10px;
    border-radius: 10px;
}

nav li:hover{
    background-color:#FFFFFF;
    color:#138808;
    border:#138808 solid 1px;

    
}

.hero-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding:60px;
}
.hero-content>div>p{
    padding:10px;
    text-align:justify;
}

.hero-content>h1{
    font-size:60px;
    font-weight:bold;
    color:#000080;
    font-family: 'Henny Penny', cursive;
    text-align: center;
}

.button{
    margin-top:30px;
    width:120px;
    height:40px;
    color:white;
    font-size:20px;
    font-weight:bold;
    background-color:#FF9933;
    text-align:center;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius:10px;
    box-shadow: #138808 0px 0px 5px 3px;
}

.button:hover{
    background-color: #ffffff;
    color:green;
    border:green 1px solid;
}

.logo{
    width:100px;
    height:100px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.social-icons{
    display: flex;
    justify-content: center;
    padding-right: 60px;
    
}
.social{
    padding:30px;
}

.social:hover{
    fill:#138808;
    transform: scale(2, 2);
}
/*Section 1 ends here*/
