.column_style{
    
    border:1px solid #000;
}
.news_css{
    /*max-width:1000px;
    margin:0px;
    font-family:roboto;*/
    color:#000;
    background-color:#ff4646;
    
}
.how_to_reach_style{
    padding:0px;
    /*border-width:1px 1px 1px 1px;border-style: solid;*/
    margin:0px;
    background-color:#d9edf7;
    color:#000;
    /*font-family: roboto;
    */
}
body{
/*background: #f0f0f0;*/
font-size: 13px;
/*font-family: "verdana", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;*/
margin: 0;
padding: 0;
color: #767676;
}
#sec_id{
    border-radius:5px;
    padding:0px;
    color:#000;
    background-color:#d9edf7;
    text-decoration:none; 
    text-align:left;
}
#identity{
    overflow:hidden;
}
#image{
    float:left;
    padding:0px 20px 20px 20px;
}
.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}
