/*
External CSS file for my favorite superhero web page 
*/
/* 
    Created on : 14-Apr-2020, 3:37:34 PM
    Author     : deepak
*/
#header{
    overflow:hidden;
    padding:5px 0px;
    border-bottom:1px solid;
}
nav{
    list-style-type:none;
    margin:0;
    padding:0;
}
a, li{
    display:block;
    color:#666;
    padding:14px 16px;
    text-decoration:none;
    float:right;
}
.logo{
    float:left;
    height:50px;
}

#button{
    color:#fff;
    background-color:#3A8FBD;
    padding:10px;
    text-decoration:none;
    border-radius:5px;
}

body{
    max-width:1000px;
    font-size:16px;
    font-family:roboto;
    padding:20px 20px 20px 20px;
    border:1px 1px 1px 1px;border-style:solid;
    margin:auto;
}
.list_box{
    
    width:100%;
    overflow:hidden;
}
.box{
    
    display:inline-block;
    width:50%;
    float:left;
}
#sec_id{
    border-radius:5px;
    padding:10px;
    color:red;
    background-color:lightgray;
    text-decoration:none; 
    text-align:center;
}
#identity{
    overflow:hidden;
}
#image{
    float:left;
    padding:0px 20px 20px 20px;
}

#background_image {    
    height: 350px;
    padding-top: 50px; 
    background: url(./img/bat_cover.jpg);
    color: #fff;
    margin: auto;
    margin-top: 25px;
}

#content{
    background-color:rgba(0, 0, 0, 0.7);
    max-width: 450px;
    padding:30px 20px;
    margin-top:50px;
}
#movies{   
 border-radius:5px;
 padding:10px 10px 10px 10px;
 color:red;
 background-color:whitesmoke;
 text-align:center;
    
}
.thumbnail{
    
    display:inline-block;
    height:auto;
    padding:4px;
    margin-bottom:20px;
    background-color:#fff;
    border:1px solid #a4a4a4;
    text-align:center;
    color:#666;
    margin:50px;
}
#villains{
    border-radius:5px;
    padding:10px 10px 10px 10px;
    color:orangered;
    background-color:lightcyan;
    text-align:center;
}
table{
    border:1px solid;
    width:100%;
    border-collapse:collapse;
}
th,td{
    padding:15px;
    border:1px solid #a4a4a4;
    height:30px;
}
th{
    text-align:left;
    background-color:#ececec;
}

input{
    padding:14px 70px;
    font-size:15px;
    margin-bottom:30px;   
}
#subscribe{
    border:none;
    background-color:#26211f;
    color:white;
    font-size:16px;
    margin:4px -4px;
    padding:16px 40px;   
}
.container{
    padding:20px;
    margin:auto;
    width:100%;
    overflow-x:hidden;    
}
/*Imp.*/
@media(min-width:320px){.container{
       width:320px;
       }}
       @media(min-width:481px){.container{
       width:481px;
       }}
       @media(min-width:641px){.container{
       width:641px;
       }}
       @media(min-width:961px){.container{
       width:961px;
       }}
       @media(min-width:1000px){.container{
       width:1000px;
       }}
       
       @media(max-width:481px){
       .box{
       width:100%;
       }.box{
          width:100%;
       }
       h2{
       text-align:center;
       }
       } 
