<mat-card >
    <mat-card-title>Recommendations</mat-card-title>
    <mat-card-content class="recommendation-card-container">
        <mat-card class="recommendation-card" *ngFor="let r of recommendations">
            <p>{{r.name}}</p>
            <p>{{r.age}}</p>
            <p>{{r.gender}}</p>
            <p>{{r.city}}</p>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary">Like</button>
                <button mat-raised-button color="primary">Dislike</button>
              </mat-card-actions>
        </mat-card>
    </mat-card-content>
</mat-card>